<div id="leftSide"> 
  <!--Users View-->
  <div class='userWindows' id="usersCanvas">
    <li>
      <ul (click)='expandUser($event)' *ngFor="let json of usersNgFor" class='filterOptions'><p class='filterUsers'>{{json.user}}</p></ul>
    </li>
  </div>

  <!--PMs View-->
  <div class='userWindows' id="pmCanvas">
    <li>
      <ul (click)='expandUser($event)' *ngFor="let json of pmNgFor" class='filterOptions'><p class='filterUsers'>PMs</p></ul>
    </li>
  </div>
  <div id="footerLeft"></div>
</div>