<div id="musicPlayer">
  <div id="topLineDiv">
    <div id="songInfo">
        <div id="songName">Song Name</div>
        <div id="artistName"> - </div>
        <div id="artistName">Artist Name</div>
    </div>
    <i (click)="collapsePlayer()"  id="downArrow" class="material-icons">
        keyboard_arrow_down
    </i>
    <i (click)="collapsePlayer()" id="upArrow" class="material-icons hidden">
        keyboard_arrow_up
    </i>
</div>
  <div id="musicArtwork">
     <img src="https://placekitten.com/g/140/140">
  </div>
  <div id="controlsDiv">
    <i class="material-icons">
      search
    </i>
    <i class="material-icons">
      play_circle_filled
    </i>
    <i class="material-icons">
      pause
    </i>
  </div>
</div>