<div id='loginPage'>
    <div id='loginInfo'>
        <h2>Sign In</h2>
        <div>UserName: <input type='text' id ='userName'></div>
        <div>PassWord: <input type='text' id='passWord'></div>
        <div id="buttonDiv">
            <button id='loginButton' (click)='login()'>Login</button>
            <button id='newUser' (click)='openNewUserScreen()'>Create New Account</button>
        </div>
    </div>
    <div id='loginExists'></div>

    <div id='newUserScreen'>
        <div id="closeBtnDiv"><a (click)='closeNewUser()' class="closebtn">&times;</a></div>
        <div>UserName: <input type='text' id ='newUserName'></div>
        <div>PassWord: <input type='text' id='newPassword'></div>
        <button (click)='createNewUser()' id='loginButton'>Create User</button>
        <div id='userExists'></div>
    </div>
</div>