<div id="Assignments" class="tabcontent">
  <div class="containerDiv">

    <div id="headerBar">
      <div id="filterHeader"><select>
        <option (click)="userPMSwitch($event)" value="usersCanvas">Users</option>
        <option (click)="userPMSwitch($event)" value="pmCanvas">PMs</option></select>
      </div>
        <div id="assignmentHeader">
          <div></div>
          <p>Chat</p>
          <button (click)='logOut()'>Logout</button>
        </div>
    </div>


    <div id="mainDiv">

    <app-users-window style="width: 20%;"></app-users-window>
    
    <div id="rightSide">
      <div id="assignmentViewCanvas">
        <div class='buttonForloop' *ngFor="let json of assignmentsNgFor">
          <button class="assignView">
            <li class='list'>
              <ul class='nameText'>Name: {{json.user}}</ul>
              <ul class='text'>{{json.text}}</ul>
            </li>
          </button>
        </div>
      </div>
      <!--<button (click)="giphyCall(searchTerm)">Text button for Gifs!</button>
      <input name="title" #searchTerm>-->
      
      <textarea id="textWindow" type="text"></textarea>

      <div id='refKey'></div>
    </div>
    </div>
  </div>
</div>
  