<div id="Assignments" class="tabcontent">
  <div class="containerDiv">
    <div id="filterHeader"><p>Users</p></div>
    <div id="filterCanvas">
      <li>
        <ul class='filterOptions'>User 1</ul>
      </li>
    </div>
  
    <div id="assignmentHeader"><p>Chat</p></div>
    <div id="assignmentViewCanvas">
      <div class='buttonForloop' *ngFor="let json of assignmentsNgFor">
        <button class="assignView">
          <li>
            <ul>Name: {{json.study}}</ul>
            <ul>Text: {{json.assigneeDept}}</ul>
          </li>
        </button>
      </div>
    </div>
  </div>
  <textarea id='textWindow'></textarea>
</div>
  