#Assignments{
    display: none;
}

/* Style the tab content */
.containerDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: none;
}

ul {
    margin: 0px;
}


#headerBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    /*border-bottom: 1px solid lightgray;*/
    background: gray;
    color: white;
    text-align: center;
}

#chatHeader.hidden {
    display: none;
}

#messageHeader.hidden {
    display: none;
}


#assignmentHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#assignmentHeader h5{
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

#assignmentHeader button{
    margin-right: 20px;
    box-shadow: none;
    border: none;
    padding: 7px 10px;
    background: rgb(255, 159, 0);
    border-radius: 10px;
}

#assignmentHeader button:hover{
    background: rgb(255, 157, 0, 0.9);
    color: white;
    cursor: pointer;
}

#filterHeader {
    width: 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 #filterHeader h5 {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
 }

 #filterHeader i {
     color: rgb(255, 157, 0);
     cursor: pointer;
 }

 #filterHeader p:hover {
     text-decoration: underline;
 }

 #mainDiv {
     display: flex;
     justify-content: flex-start;
     margin-top: 40px; 
     height: calc(100vh - 40px);
 }

#rightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    font-family: 'Nunito', sans-serif;
    background: rgb(3, 3, 3, 0.8)
}

/*styling right side of page, procedures*/
#assignmentViewCanvas {
    width: 100%;
    height: 90%;
    overflow: auto;
    margin-bottom: 20px;
    margin-right: 12px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(189, 244, 0);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 4, 92); 
}

#procedureHeader {
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 14, 63);

}

#procedureHeader p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#procedureNameHeader {
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
    /*border-right: 1px solid lightgray;*/
}

#procedureHeaderLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
}

.buttonForloop {
    display: flex;
    justify-content: center;
}

.assignView:first-of-type {
    margin-top: 14px;
}

.assignView {
    color: white;
    padding: 25px 15px;
    width: 90%;
    text-align: left;
    transition: 0.4s;
    border: none;
    border-radius: 20px;
    overflow: show;
    margin: 7px 14px;
    background: lightgrey;
    max-width: 100%;
    word-break: break-word;

    /* For FireFox */
    word-break: break-all;
 }

 .assignView::-moz-focus-inner { 
    border: 0; 
  }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.assignView:hover {
    background-color: #ff9f00;
    color: white;
}

.nameText{
    font-weight: bold;
    color: black;
    padding: 0px;
    margin-left: 15px;
    font-size: 14px;
}

.text{
    margin-left: 20px;
    color: black;
    padding: 0px;
    margin-left: 25px;
    max-width: 99%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#nameTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time{
    color: black;
    font-size: 12px;
}

textarea{
    height: 80px; 
    width: 90%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    align-self: center;
}

.list{
    list-style-type: none;
}

.privateChat{
    /*position: fixed;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    overflow-x: auto;
    overflow-y: hidden;
    color: white;
}
#pmNames {
    display: flex;
    justify-content: flex-start;
}

.privateChat i {
    margin-right: 10px;
}

.privateChat li{
    padding: 10px;
}

.privateChat li:hover{
    background: black;
    cursor: pointer;
    background: rgb(255, 157, 0);
}

.privateChat .pmList.active{
    background: rgb(189, 244, 0);
    color: black;
}

/*material icons*/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }