#Assignments{
    display: none;
}


/* Style the tab content */
.containerDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: none;
}

ul {
    margin: 0px;
}


#headerBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    /*border-bottom: 1px solid lightgray;*/
    background: gray;
    color: white;
    text-align: center;
}

#assignmentHeader{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#assignmentHeader p{
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px;
}

#assignmentHeader button{
    margin-right: 20px;
    box-shadow: none;
    border: none;
    padding: 7px 10px;
    background: #ff9f00;
    border-radius: 10px;
}

#assignmentHeader button:hover{
    background: rgb(255, 157, 0, 0.9);
    color: white;
    cursor: pointer;
}

#filterHeader {
    width: 20%;
 }

 #filterHeader p {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
 }

 #mainDiv {
     display: flex;
     justify-content: flex-start;
     margin-top: 40px; 
     height: calc(100vh - 40px);
 }

#rightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    font-family: 'Nunito', sans-serif;
    background: rgb(3, 3, 3, 0.8)
}

/*styling right side of page, procedures*/
#assignmentViewCanvas {
    width: 100%;
    height: 90%;
    overflow: auto;
    margin-bottom: 20px;
    margin-right: 12px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(189, 244, 0);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(233, 4, 92); 
}

#procedureHeader {
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 14, 63);

}

#procedureHeader p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#procedureNameHeader {
    margin-left: 20px;
    margin-right: 10px;
    padding-right: 10px;
    /*border-right: 1px solid lightgray;*/
}

#procedureHeaderLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
}

.buttonForloop {
    display: flex;
    justify-content: center;
}

.assignView:first-of-type {
    margin-top: 14px;
}

.assignView {
    color: white;
    padding: 25px 15px;
    width: 90%;
    text-align: left;
    transition: 0.4s;
    border: none;
    border-radius: 20px;
    overflow: show;
    margin: 7px 14px;
    background: lightgrey;
    max-width: 100%;
    word-break: break-word;

    /* For FireFox */
    word-break: break-all;
 }

 .assignView::-moz-focus-inner { 
    border: 0; 
  }

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.assignView:hover {
    background-color: #ff9f00;
    color: white;
}

.nameText{
    font-weight: bold;
    color: black;
    padding: 0px;
    margin-left: 15px;
    font-size: 14px;
}

.text{
    margin-left: 20px;
    color: black;
    padding: 0px;
    margin-left: 25px;
    max-width: 99%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.time{
    color: black;
    font-size: 12px;
    margin-left: 85%;
}

textarea{
    height: 80px; 
    width: 90%;
    resize: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

.list{
    list-style-type: none;
}

.privateChat{
    position: fixed;
}

.privateChat li{
    display: inline;
    color: white;
    background-color: gray;
    border: 1px solid black;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.privateChat li:hover{
    background: black;
    cursor: pointer;
}

.privateChat .pmList.active{
    background-color: red;
}