<div id="Assignments" class="tabcontent">
  <div class="containerDiv">
    <app-users-window></app-users-window>
        
    <div id="assignmentHeader"><p>Chat</p></div>
    <div id="assignmentViewCanvas">
      <div class='buttonForloop' *ngFor="let json of assignmentsNgFor">
        <button class="assignView">
          <li class='list'>
            <ul class='nameText'>Name: {{json.user}}</ul>
            <ul class='text'>{{json.text}}</ul>
          </li>
        </button>
      </div>
    </div>
  </div>
  <input id='textWindow' type="text">
  <div id='refKey'></div>
</div>
  